@{
    ViewData["Title"] = "MST_CarAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CarInfo.Areas.MST_Car.Models.MST_CarModel

<div class="row" style="width:auto">
    <div class="col-md-12">
        <form method="post" asp-controller="MST_Car" asp-action="Save" enctype="multipart/form-data">
            @Html.HiddenFor(x=>x.CarID)
            @Html.HiddenFor(x=>x.PhotoPath)
            <div class="form-group">
                <label>Maker</label>
                <select class="form-control" asp-for="MakeID" asp-items="@(new SelectList(ViewBag.MakeList,"MakeID","MakeName"))" onchange="fnOnMakeChange();">
                    <option value="">Select Maker</option>
                </select>
                <span asp-validation-for="MakeID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>PhotoPath</label>
                <input type="file" class="form-control" placeholder="Upload File" asp-for="File" />
                @*<input type="text" class="form-control" readonly asp-for="PhotoPath" value="@Model.PhotoPath" />*@
            </div>

              <div class="form-group">
                <label>Type</label>
                <select class="form-control" asp-for="TypeID" asp-items="@(new SelectList(ViewBag.TypeList,"TypeID","TypeName"))">
                    <option value="">Select Type</option>
                </select>
                <span asp-validation-for="TypeID" class="text-danger"></span>
            </div>

@*       <div class="form-group">
                <label>FuelType</label>
                <select class="form-control" asp-for="FuelTypeID" asp-items="@(new SelectList(ViewBag.FuelTypeList,"FuelTypeID","FuelTypeName"))">
                    <option value="">Select FuelType</option>
                </select>
                <span asp-validation-for="FuelTypeID" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label>Car Name</label>
                <input type="text" class="form-control" placeholder="Enter Name" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Year</label>
                <input type="text" class="form-control" placeholder="Enter Year" asp-for="Year" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>



            @if (Model == null || Model.CarID == null || Model.CarID == 0)
            {
                <div class="form-group">
                    <label>FuelType</label>
                    <select class="choices form-select multiple-remove" multiple="multiple" name="FuelTypeNames" asp-items="@(new MultiSelectList(ViewBag.FuelTypeList, "FuelTypeName", "FuelTypeName"))">
                        <option value="">Select FuelType</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>TransmissionType</label>
                    <select class="choices form-select multiple-remove" multiple="multiple" name="TransmissionTypeNames" asp-items="@(new MultiSelectList(ViewBag.TransmissionTypeList, "TransmissionTypeName", "TransmissionTypeName"))">
                        <option value="">Select TransmissionType</option>
                    </select>
                </div>

             @*   <div class="form-group">
                    <label>Variant Name</label>
                    <select id="VariantID" class="form-control" asp-for="VariantID" multiple>
                    </select>
                    <span asp-validation-for="VariantID" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label>Feature</label>
                    <select class="choices form-select multiple-remove" multiple="multiple" name="FeatureNames" asp-items="@(new MultiSelectList(ViewBag.FeatureList, "FeatureName", "FeatureName"))">
                        <option value="">Select Feature</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Add more features</label>
                    <input type="button" class="btn btn-outline-primary" value="Add Feature" onclick="addFeature()" />
                </div>
                <div id="additional-features"></div>*@
            }
            <hr />
            <input type="submit" class="btn btn-outline-primary" />
            <a asp-area="MST_Car" asp-controller="MST_Car" asp-action="Back">
                <button type="button" class="btn btn-success">Cancel</button>
            </a>

        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function() {
    $("#VariantID").append($("<option></option>").val("").html("Select Variant"));
            // Initialize Choices on #VariantID select element
            //const choices = new Choices('#VariantID', {
            //    removeItems: true,
            //    removeItemButton: true
            //});

            // Reset choices before updating with new data
            choices.reset();
            choices.setChoices(choicesData, 'value', 'label', true);


});

        function addFeature() {
            var div = $('<div class="form-group"><input type="text" class="form-control" placeholder="Enter Feature" name="NewFeatureNames" /><span class="text-danger"></span></div>');
            $('#additional-features').append(div);
        }


    // Initialize the Choices plugin on the select element
    //var variantSelect = new Choices('#VariantID', {removeItemButton: true});
        function fnOnMakeChange() {
            var makeID = $("#MakeID").val();

            if (makeID !== "") {

                $("#VariantID").empty();
                $("#VariantID").append($("<option></option>").val("").html("Select Variant"));
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("DropDownByMake","MST_Car")" + "?&MakeID=" + makeID,
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        var choicesData = [];
                        $.each(result, function (key, value) {
                            choicesData.push({
                                value: value.variantID,
                                label: value.variantName
                            });
                        });

                        // Update Choices with retrieved data
                        const choices = new Choices('#VariantID', {
                            choices: choicesData,
                            removeItems: true,
                            removeItemButton: true
                        });
                    },
                    error: function (r) {
                        alert("Error While Loading Dropdown!");
                    }
                });
            } else {
                // Clear Choices and display "Select Variant" option by default
                const choices = new Choices('#VariantID', {
                    items: [],
                    removeItems: true,
                    removeItemButton: true
                });
            }
        }








        //function fnOnMakeChange() {
        //    var MakeID = $("#MakeID").val();

        //    if (MakeID !== "") {
        //        $("#VariantID").empty();
        //        $.ajax({
        //            type: "POST",
        //            contentType: "application/json; charset=utf-8",
        @*//            url: "@Url.Action("DropDownByMake","MST_Car")" + "?&MakeID=" + MakeID,*@
        //            data: {},
        //            dataType: "json",
        //            success: function (Result) {
        //                $.each(Result,
        //                    function (key, value) {
        //                        $("#VariantID").append($("<option></option>").val(value.variantID).html(value.variantName));
        //                    }
        //                );
        //            },
        //            error: function (r) {
        //                alert("Error While Loading Dropdown!");
        //            }
        //        });
        //    } else {
        //        $("#VariantID").empty();
        //    }
        //}


            //function fnOnMakeChange() {

            //    var MakeID = $("#MakeID").val();

            //    if (MakeID !== "") {
            //        $("#VariantID").empty();
            //        $("#VariantID").append($("<option></option>").val("").html("Select Variant"));
            //        $.ajax(
            //            {
            //                type: "POST",
            //                contentType: "application/json; charset=utf-8",
          @*  //                url: "@Url.Action("DropDownByMake","MST_Car")" + "?&MakeID=" + MakeID,*@
            //                data: {},
            //                datatType: "json",
            //                success: function (Result) {
            //                    $.each(Result,
            //                        function (key, value) {
            //                            $("#VariantID").append($("<option></option>").val(value.variantID).html(value.variantName));
            //                        }
            //                    );
            //                },
            //                error: function (r) {
            //                    alert("Error While Loading Dropdown!");
            //                }
            //            }
            //        );
            //    }
            //    else {
            //        $("VariantID").empty();
            //        $("VariantID").append($("<option></option>").val("").html("Select Variant"));
            //    }
            //}

          

    </script>
}