@{
    ViewData["Title"] = "CAR_ReviewList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable

    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Car Reviews</h3>
                    <p class="text-subtitle text-muted">Gives Information About Car Reviews</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">

                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">CAR_Review</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        @if (TempData["ReviewInsertMsg"] != null)
        {
            <div id="review-alert" class="alert alert-light-success color-success">
                <i class="bi bi-check-circle"></i> @TempData["ReviewInsertMsg"]
            </div>

            <script>
                setTimeout(function () {
                    $('#review-alert').fadeOut('fast');
                }, 2000); // 2 seconds
            </script>
        }


        <div class="row filters">
            <div class="col-md-10">
                <form method="post" class="form-inline">
                    @*<input class="form-control mr-sm-2" name="CountryName" type="text" placeholder="Country Name" />*@
                <select class="form-control filter mr-sm-2 form-select" id="CarDropdown" name="CarID">
                    <option value="">--Select Car--</option>

                    @foreach (var item in ViewBag.CarList)
                    {
                        <option value="@item.CarID">@item.CarName</option>
                    }
                </select>

                <input class="form-control filter mr-sm-2" name="ReviewText" type="text" placeholder="Review Text" />

                <input class="form-control filter mr-sm-2" name="Rating" type="text" placeholder="Rating" />
                

                    <button class="btn btn-success filterbtn" type="submit" asp-area="CAR_Review" asp-controller="CAR_Review" asp-action="Index">Apply Filters</button>
                </form>
            </div>
            <div class="col-md-2 addbtns text-right">
                <a asp-area="CAR_Review" asp-controller="CAR_Review" asp-action="Add" class="btn btn-outline btn-circle btn-primary"><i class="fa fa-plus"></i>&nbsp;Add</a>
            </div>
        </div>

        <!-- Basic Tables start -->
        <section class="section">
            <div class="card">
                <div class="card-body">
                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th>Car</th>
                                <th>Review Text</th>
                                <th>Rating</th>
                                <th>Created</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td>@dr["Name"]</td>
                                    <td>@dr["ReviewText"]</td>
                                    <td>@dr["Rating"]</td>
                                    <td>@dr["CreationDate"]</td>
                                    <td>@dr["ModificationDate"]</td>
                                    <td>
                                    <form method="post" class="aeform" asp-area="CAR_Review" asp-controller="CAR_Review" asp-action="Delete" onsubmit="return confirmDelete(event)">
                                        <input type="hidden" name="ReviewID" value="@Convert.ToInt32(dr["ReviewID"].ToString())" />
                                        <button class="btn btn-danger" type="submit"><i class="fa fa-close"></i></button>
                                    </form>
                                    <form method="post" class="aeform" asp-area="CAR_Review" asp-controller="CAR_Review" asp-action="Add">
                                        <input type="hidden" name="ReviewID" value="@Convert.ToInt32(dr["ReviewID"].ToString())" />
                                            <button class="btn btn-success" type="submit"><i class="fa fa-edit"></i> </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
        <!-- Basic Tables end -->
    </div>
