@{
    ViewData["Title"] = "MST_CarList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Car_Feature
@using System.Data

<!-- Display car categories -->
<h3>Car Categories</h3>
@foreach (DataRow dr in Model.CarCategories.Rows)
{
    <ul>
        <li>@dr["TypeID"]</li>
        <li>@dr["TypeName"]</li>
        <li>@dr["FuelTypeID"]</li>
        <li>@dr["FuelTypeName"]</li>
        <li>@dr["TransmissionTypeID"]</li>
        <li>@dr["TransmissionTypeName"]</li>
    </ul>
}

<!-- Display cars by type -->
<h3>Cars by Type</h3>
@foreach (DataRow dr in Model.CarsByType.Rows)
{
    <ul>
        <li>@dr["CarID"]</li>
        <li>@dr["PhotoPath"]</li>
        <li>@dr["Name"]</li>
    </ul>
}
