@{
    ViewData["Title"] = "CAR_FeatureList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable

    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>CAR_Feature</h3>
                    <p class="text-subtitle text-muted">Gives Information About Car Features</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">CAR_Feature</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

    @if (TempData["FeatureInsertMsg"] != null)
    {
        <div id="Feature-alert" class="alert alert-light-success color-success">
            <i class="bi bi-check-circle"></i> @TempData["FeatureInsertMsg"]
        </div>

        <script>
            setTimeout(function () {
                $('#Feature-alert').fadeOut('fast');
            }, 2000); // 2 seconds
        </script>
    }


    <div class="row filters">
        <div class="col-md-10">
            <form method="post" class="form-inline">
                @*<input class="form-control mr-sm-2" name="CountryName" type="text" placeholder="Country Name" />*@
                <select class="form-control filter mr-sm-2 form-select" id="countryDropdown" name="CountryName">
                    <option value="">--Select Country--</option>
                    @* @foreach (var item in ViewBag.CountryList)
                    {
                    <option value="@item.CountryName">@item.CountryName</option>
                    }*@
                </select>
                @*<input class="form-control mr-sm-2" name="StateName" type="text" placeholder="State Name" />*@
                <select class="form-control filter mr-sm-2 form-select" id="stateDropdown" name="StateName">
                    <option value="">--Select State--</option>
                    @*   @foreach (var item in ViewBag.StateList)
                    {
                    <option value="@item.StateName">@item.StateName</option>
                    }*@
                </select>
                @*<input class="form-control mr-sm-2" name="CityName" type="text" placeholder="City Name" />*@
                <select class="form-control filter mr-sm-2 form-select" id="cityDropdown" name="CityName">
                    <option value="">--Select City--</option>
                    @* @foreach (var item in ViewBag.CityList)
                    {
                    <option value="@item.CityName">@item.CityName</option>
                    }*@
                </select>

                <button class="btn btn-success filterbtn" type="submit" asp-area="CAR_Feature" asp-controller="CAR_Feature" asp-action="Index">Apply Filters</button>
            </form>
        </div>
        <div class="col-md-2 addbtns text-right">
            <a asp-area="CAR_Feature" asp-controller="CAR_Feature" asp-action="Add" class="btn btn-outline btn-circle btn-primary"><i class="fa fa-plus"></i>&nbsp;Add</a>
        </div>
    </div>

        <!-- Basic Tables start -->
        <section class="section">
            <div class="card">
                <div class="card-header">
                    CAR_Feature
                </div>
                <div class="card-body">
                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Feature Name</th>
                                <th>Created</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td>@dr["Name"]</td>
                                    <td>@dr["FeatureName"]</td>
                                    <td>@dr["CreationDate"]</td>
                                    <td>@dr["ModificationDate"]</td>
                                    <td>
                                    <form method="post" class="aeform" asp-area="CAR_Feature" asp-controller="CAR_Feature" asp-action="Delete" onsubmit="return confirmDelete(event)">
                                            <input type="hidden" name="FeatureID" value="@Convert.ToInt32(dr["FeatureID"].ToString())" />
                                            <button class="btn btn-danger" type="submit"><i class="fa fa-close"></i></button>
                                        </form>
                                    <form method="post" class="aeform" asp-area="CAR_Feature" asp-controller="CAR_Feature" asp-action="Add">
                                            <input type="hidden" name="FeatureID" value="@Convert.ToInt32(dr["FeatureID"].ToString())" />
                                            <button class="btn btn-success" type="submit"><i class="fa fa-edit"></i> </button>
                                    </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
        <!-- Basic Tables end -->
    </div>